footer {
  background-color: #171617;
  border-radius: 50px 50px 0 0;
  color: white;
  font-size: 20px;
  padding-bottom: 70px;
}

.footer__head-text {
  display: block;
  text-align: center;
  color: white;
  padding: 30px 0;
  font-size: 40px;
  font-weight: bold;
}

.footer__grid {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(6, 1fr);
}

.footer__copyright {
  grid-column: 1/4;
  margin-right: 100px;
}

.footer__copyright > span {
  font-size: 20px;
}

.footer__logo {
  display: block;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer__nav {
  grid-column: 4/5;
}

.footer__title {
  color: #fe853a;
  margin-bottom: 15px;
  font-size: 20px;
}

.footer__item {
  font-size: 20px;
  margin-bottom: 10px;
}

a:active {
  color: inherit;
}
